<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_cliente})}|">Show Cliente - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${cliente}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="cliente-razonsocial-field" data-z="d02af42f">
            	      <strong data-th-text="#{label_cliente_razonsocial}">razonSocial</strong>
                    <span data-th-text="*{{razonSocial}}">razonSocialValue</span>
         	        </li>
                  <li id="cliente-documento-field" data-z="4c38786f">
            	      <strong data-th-text="#{label_cliente_documento}">documento</strong>
                    <span data-th-text="*{{documento}}">documentoValue</span>
         	        </li>
                  <li id="cliente-telefono-field" data-z="a6a3c94f">
            	      <strong data-th-text="#{label_cliente_telefono}">telefono</strong>
                    <span data-th-text="*{{telefono}}">telefonoValue</span>
         	        </li>
                  <li id="cliente-email-field" data-z="2d88c36f">
            	      <strong data-th-text="#{label_cliente_email}">email</strong>
                    <span data-th-text="*{{email}}">emailValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
